<div class="globalbar">
<div class="globalbar-start">
<h2>Dashboard</h2>
</div>
<div class="globalbar-end">
<%= link_to "Create an organization", new_organization_path, class: 'btn' %>
</div>
</div>
<% @organizations.each do |organization| %>
    <%= link_to organization.name, organization %>
<% end %>
<p>properties</p>
<% @properties.each do |property| %>
    <%= link_to property.address, [property.organization, property] %>
<% end %>
<% @created_organizations.each do |organization| %>
    <%= link_to organization.name, organization %>
<% end %>