<h2><%= @user.username %></h2>
<p>Account since: <%= @user.created_at.localtime %></p>
<% if current_user == @user %>
<%= button_to "Delete my account", @user, method: :delete, class: 'btn' %>
<% end %>